<table border="2">
<thead>
	<th> name </th>
	<th> age </th>
	<th> gender </th>
	<th> address </th>
<tbody>
<% @students.each do |s| %>
 <% if s.name == nil %>
 	<% puts "kishore" %>
 	<% next %>
 <% end %>
 <tr>
 	<td> <%= s.name %> </td>
	<td> <%= s.age %> </td>
	<td> <%= s.gender %> </td>
	<td> <%= s.address %></td>
 </tr>
<% end %>
</tbody>
</thead>
</table>
