<h1>Teachers information</h1>
<form type="text">
Name : <input type="text" value="name"/>
Age : <input type="number" value="number"/>
Address : <input type="text" value="addr"/>
<input type="submit" value="submit"/>
</form>
Name : <%=@name%>
Age : <%=@age%>
Address : <%=@addr%>